@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    margin-top: 2rem;
    font-size: 4rem;
    font-weight: 700;
}

.countdown-container {
    max-width: 800px;
    width: 80%;
    min-height: 80vh;
    margin: 2rem auto;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

.day,
.hour,
.minute,
.second {
    font-size: 2rem;
}

.countdown {
    width: 50%;
    min-width: 300px;
    margin: 20px 0;
}

.event-img {
    height: 75vh;
    width: 90%;
    max-width: 700px;
}

.form {
    width: 30%;
    min-width: 300px;
    padding: 2rem;
    font-size: 21px;
    background: #6c63ff;
    color: aliceblue;
    position: absolute;
    transform: translate(-50%, -50%);
    top: -100%;
    left: -100%;
    /* top: 50%;
    left: 50%; */
    z-index: 100;
    border-radius: 10px;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3), 20px 20px 40px rgba(0, 0, 0, 0.3);
    transition: 500ms;
}

.close-btn {
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    position: absolute;
    right: 20px;
    top: 20px;
}

.close-btn:hover {
    transform: scale(1.06);
}

.form h3,
.form div,
.btn {
    margin-top: 20px;
}

.form h3 {
    font-size: 2rem;
}

.form div label {
    font-weight: 600;
}

.form div input {
    padding: 3px 2px;
    border: 1px solid aliceblue;
}

.form div input:focus {
    outline: 2px solid aliceblue;
}

.btn {
    padding: 0.4em 0.8em;
    font-size: 21px;
    background: #6c63ff;
    color: aliceblue;
    border: 2px solid aliceblue;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 500ms;
}

.btn:hover {
    background: aliceblue;
    color: #6c63ff;
    border: 2px solid #6c63ff;
}

.display-form {
    top: 50%;
    left: 50%;
}

.github-visit {
    position: absolute;
    top: -25px;
    right: 20px;
}

@media (max-width: 470px) {
    .title {
        font-size: 3rem;
    }
    .event-img {
        height: 40vh;
        margin-left: 10px;
    }
}

@media (max-width: 570px) {
    .event-img {
        height: 50vh;
        margin-left: 10px;
    }
}